<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" routerLink="/new-task" class="btn btn-outline-primary"> New Task</button>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h4 style="color: #007BFF">Upcomming Events</h4>
  <br>
  <div class="row">
    <div class="col-md-12">
      <app-upcoomming-task></app-upcoomming-task>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h4 style="color: #007BFF">Succeed Events</h4>
  <span class="badge badge-success"></span>
  <br>
  <div class="row">
    <div class="col-md-12">
      <app-done-task></app-done-task>
    </div>
  </div>
</div>



